
{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="/assets/vendor/angular-qr-scanner/qr-scanner.js"></script>
    <script src="/assets/vendor/angular-qr-scanner/src/jsqrcode-combined.min.js"></script>
    <div class="row" style="padding-top: 20vh">
        <div class="col-lg-1"></div>
        <div class="col-lg-3  text-center" style="padding-right: 0" >
            <div style="color:white;;background-color:#002355;height: 60px;font-size: x-large;" class="label-default" ><div style="vertical-align: middle;padding-top:13px">Reference Number</div></div>
        </div>
        <div class="col-lg-8" style="padding-left: 0">
            <form method="get">

                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input id="ref" name="refNo" type="text" style="height:60px;font-size: xx-large" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-success" style="height:60px" type="submit">GO !</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </form>
        </div>
    </div>
    <div class="row" style="padding-top: 8vh"><div class="col-lg-12 h1 text-center" style="color: #5cb85c">SCANNING QR CODE...</div></div>
    <div class="row"  ng-app="App">


        <div  ng-controller="qrCrtl" class="col-lg-12 text-center" >
                <qr-scanner width="400" height="300" ng-success="onSuccess(data)" ng-error="onError(error)" />

                <script>

                    var App = angular.module('App', ['qrScanner']);

                    App.controller('qrCrtl', ['$scope', function($scope) {
                        $scope.onSuccess = function(data) {
                            $("#ref").val(data);
                            console.log(data);

                        };
                        $scope.onError = function(error) {
                            console.log(error);
                        };
                        $scope.onVideoError = function(error) {
                            console.log(error);
                        };
                    }]);

                </script>
        </div>

    </div>


{% endblock %}